.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Gives even spacing between elements */
.around {
    justify-content: space-around;
}
/* To make items line up */
.line {
    display: flex;
}
/* Quick way to make things really bold */
.boldest{
    font-weight: bolder;
}