.ft_anton {
    font-family: 'Anton', sans-serif;
}
.ft_mukta {
    font-family: 'Mukta', sans-serif;
}
.ft_ubnCon {
    font-family: 'Ubuntu Condensed', sans-serif;
}

.center{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Gives even spacing between elements */
.around {
    justify-content: space-around;
}
/* To make items line up */
.line {
    display: flex;
}
/* Quick way to make things really bold */
.boldest{
    font-weight: bolder;
}